/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.navi{
    background-color: rgb(47, 49, 49);
    padding: 10px;
    color: aliceblue;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 120px;
    margin-top:30px;
}
 
.navihover:hover{
    background-color: rgb(52, 54, 54);
    color: aliceblue;
    cursor: pointer;
   
}

body{
    background-color: rgb(68, 73, 73)
}

.styleMenu{
    margin-right: 15px;
    color: aliceblue;
}

.Prodhover:hover{
    background-color: rgb(66, 66, 64);
}

.Prod{
    margin-top: 30px;
    background-color: rgb(119, 119, 114);
    color: aliceblue;
}

.footer{
    margin-top: 70px;
    padding: 30px;
    background-color: rgb(65, 64, 66); 
    color: aliceblue;
}

.logo{
    width: 80px;
    height: 80px; 
    margin-left: 30px;
    margin-top: 30px;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.active{
    color: #3642b3;
}
