<!DOCTYPE html>
<html lang="span">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<div class="d-flex justify-content-center">
    <div  *ngIf="!load" class="spinner-border" role="status" style="margin-top: 300px;">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div  *ngIf="load" class="container"  styles="margin-top: 0px;">
    <div class="row">
        <div id="object" class="col-md-4" *ngFor ="let pr of lstProducts; index as i;">
            <div class="card  Prod Prodhover ">
                <div>
                    <img src="{{pr.url}}" alt="" width="347" height="340" >
                </div>
                <div hidden>
                    <output>{{pr.idproducto}}</output>
                </div>
                <h3 >{{pr.nombre}}</h3>
                    <p>
                        {{pr.descripcion}}
                    </p>
                <div class="container">
                    <div class="row">
                        <h4 style="margin-right: 40px;">Lps. {{pr.precio}}</h4>
                        <!-- <input type="number" value="1" min="1" max="1000" step="1" style="margin-left: 40px;"/> -->
                    </div>
                </div>
                <div class="container">
                <div class="row buttons">
                    <button  *ngIf="auth.estaAutenticado()" type="button" class="btn btn-primary" (click)="agregarCarrito(pr)">Añadir</button>
                    <button type="button" class="btn btn-info" (click)="showReviews(pr)" data-toggle="modal" data-target="#reviewsModal" style="margin-left:50px;">Reviews
                    </button>
                </div>
                </div>
            </div>
            <!--My modal-->
            <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content modal-bodyscroll">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{nombre}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-right: 30px; margin-left: 80px;">
                            <img src="{{url}}" alt="" width="300" height="280" >
                        </div>
                        <div *ngIf="lstReviews?.length==0">
                            <p style="size:10; margin-top: 20px;">
                                No hay reviews. Se el primero en comentar sobre este producto. Aceptamos
                                la libre expresion.
                            </p>    
                        </div>
                    <div *ngIf="lstReviews?.length>0" style="overflow-y : scroll;">
                        <div *ngFor ="let rv of lstReviews; index as i;">
                            <h6 style="color: brown">___________________________________________________________________</h6>
                            <p>
                                {{rv.mensaje}}
                            </p>
                            <output style="margin-right: 10px;">Fecha: {{rv.fecha}}</output>
                            <output>Valoracion: {{rv.valoracion}}/10</output>  
                        </div>
                    </div>
                        <h6 style="color: brown">____________________________________________________________________</h6>
                    <div class="container" id="esconder">  
                        <textarea id="comment"
                            name="comentarios" rows="3" cols="49" style="margin: 20px;">
                        </textarea>
                            <div class="row" style="margin-top: 10px; margin-left: 60px; margin-bottom: 40px;">
                                <output style="margin-right: 40px;">Valoracion:</output>
                                <input id="range" type="number" value="0" min="0" max="10" step="1"/>
                            </div>
                            <div class="row" style="margin-top: 10px; margin-left: 100px;" >
                                    <button type="button" class="btn btn-primary" style="margin-right: 45px;" (click)="addReviews()">Finalizar</button>
                                    <button type="button" class="btn btn-primary" (click)="hideOptionReview()" >Cancelar</button>
                            </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>