
<html>

    <body> 
        <div class="container"> 
        <h1>Lista de Productos</h1> 
        <table class="table table-sm" class="table table-striped  table-bordered"> 
            <thead> 
            <tr> 
            <th scope="col">ID Producto</th> 
            <th scope="col">Producto</th> 
            <th scope="col">Nombre Producto</th> 
            <th scope="col">Cantidad</th> 
            <th scope="col">Monto Total</th> 
            <th scope="col">Precio Unitario</th> 
            <th scope="col">Ingresar Review</th> 
            </tr> 
            </thead> 
            <tbody> 
          <tr *ngFor="let detalles of listaDetalles">
          <td> {{detalles.productosIdProducto}}</td> 
          <img *ngIf="detalles.url"
          [src]="detalles.url"
          [style.width.px]="100"
          [style.margin.px]="25">
          <td>{{detalles.nombre}}</td> 
          <td>{{detalles.cantidad}}</td> 
          <td>{{detalles.totalProducto}}</td> 
          <td>{{detalles.precio}}</td> 

          <td><button class="btn btn-primary" type="submit" id="ed1" title="Editar" style="width: 100px;" data-toggle="modal" data-target="#reviewsModal" (click)="img(detalles.url,detalles.nombre,detalles.productosIdProducto)">Ingresar Review</button>
          
            <div class="modal fade" id="reviewsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content modal-bodyscroll">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{this.nombre}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-right: 30px; margin-left: 80px;">
                            <img src="{{this.url}}" alt="" width="300" height="280" >
                        </div>
                        <div *ngIf="lstReviews?.length==0">
                            <p style="size:10; margin-top: 20px;">
                                No hay reviews. Se el primero en comentar sobre este producto. Aceptamos
                                la libre expresion.
                            </p>    
                        </div>
                    <div *ngIf="lstReviews?.length>0" style="overflow-y : scroll;">
                        <div *ngFor ="let rv of lstReviews; index as i;">
                            <h6 style="color: brown">___________________________________________________________________</h6>
                            <p>
                                {{rv.mensaje}}
                            </p>
                            <output style="margin-right: 10px;">Fecha: {{rv.fecha}}</output>
                            <output>Valoracion: {{rv.valoracion}}/10</output>  
                        </div>
                    </div>
                        <h6 style="color: brown">____________________________________________________________________</h6>
                    <div class="container" id="esconder">  
                        <textarea id="comment"name="comentarios" rows="3" cols="49" style="margin: 20px;"></textarea>
                            <div class="row" style="margin-top: 10px; margin-left: 60px; margin-bottom: 40px;">
                                <output style="margin-right: 40px;">Valoracion:</output>
                                <input id="range" type="number" value="0" min="0" max="10" step="1"/>
                            </div>
                      
                    </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row"  >
                            <button type="button" class="btn btn-primary" (click)="addReviews()" data-dismiss="modal">Aceptar</button>
                    </div>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <!-- <button type="button" class="btn btn-primary" (click)="showOptionReview()">Agregar Review</button> -->
                    </div>
                  </div>
                </div>
            </div>
            <!-- <td><button class="btn btn-danger" type="submit" id="ed2" title="Editar" style="width: 100px;">Cerrar chat</button> -->
            </tbody> 
        </table> 
        </div> 
    </body> 
    </html>


   