
<!DOCTYPE html>
<html lang="span">

 
    <nav class="navbar navbar-expand-lg navbar-default" id="nabvar-ux" style="border-bottom: 3px solid currentColor;">
  <div>
    <img src="assets/fondos/logo.png" class="logo">
  </div>
    <div class="collapse navbar-collapse navi" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id="menu1" >
          <a class="nav-link navihover styleMenu" [routerLink]="['/Home' ]" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>   
        <li class="nav-item active" >
          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Pizzas']"  routerLinkActive="active">Pizzas<span class="sr-only">(current)</span></a>
        </li>      
        <li class="nav-item active" >
          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Bebidas']"  routerLinkActive="active">Bebidas<span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Postres']"  routerLinkActive="active">Postres<span class="sr-only" >(current)</span></a>
        </li>

        <li class="nav-item active" *ngIf="auth.estaAutenticado()">
          <a class="nav-link navihover styleMenu" *ngIf="auth.esAdmin()" [routerLink]="['/products']" routerLinkActive="active">Administrar Productos<span class="sr-only" >(current)</span></a>
        </li>

      </ul>
     
      <div style="padding-left: 50px;"></div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li  *ngIf="!auth.estaAutenticado()">
            <a [routerLink]="['/Registro']" id="reglog-ux1" >Registro &nbsp;&nbsp;</a>
          </li>

          <li  *ngIf="!auth.estaAutenticado()">
            <a [routerLink]="['/Login']"  id="reglog-ux2">Login  &nbsp;&nbsp;</a>
          </li>

          <li  *ngIf="auth.estaAutenticado()">
            <a id="chat-ux" [routerLink]="['/Chat' ]">    Chat&nbsp;&nbsp;</a>
          </li>

          <li *ngIf="auth.estaAutenticado()">
            <a id="carrito">Carrito&nbsp;&nbsp;</a>
          </li>
          
          <li *ngIf="auth.estaAutenticado()">
            <a id="logout-ux" [routerLink]="['/Home']" (click)="Logout()">Logout&nbsp;&nbsp;</a>
          </li>

          <li *ngIf="auth.estaAutenticado()">
            <a id="Panel-ux">Panel&nbsp;&nbsp;</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  </html>

   <!-- style="margin-right: 20px;" -->