
<!DOCTYPE html>
<html lang="span">

 
    <nav class="navbar navbar-expand-lg navbar-default" id="nabvar-ux" style="border-bottom: 3px solid currentColor;">
  <div>
    <img src="assets/fondos/logo.png" class="logo">
  </div>
    <div class="collapse navbar-collapse navi" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id="menu1" >
          <a class="nav-link navihover styleMenu" [routerLink]="['/Home' ]" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>   
        <li class="nav-item active" >
          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Pizzas']"  routerLinkActive="active">Pizzas<span class="sr-only">(current)</span></a>
        </li>      
        <li class="nav-item active" >
          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Bebidas']"  routerLinkActive="active">Bebidas<span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item active" >

          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Postres']"  routerLinkActive="active">Postres<span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link navihover styleMenu" [routerLink]="['menu/Promociones']"  routerLinkActive="active">Promociones<span class="sr-only" >(current)</span></a>
        </li>

        <li class="nav-item active" *ngIf="auth.estaAutenticado()">
          <a class="nav-link navihover styleMenu" *ngIf="auth.esAdmin()" [routerLink]="['/products']" routerLinkActive="active">Administrar Productos<span class="sr-only" >(current)</span></a>
        </li>

      </ul>
     
      <div style="padding-left: 50px;"></div>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li  *ngIf="!auth.estaAutenticado()">
            <a style="text-decoration:none;" class="fas fa-user-plus fa-2x" [routerLink]="['/Registro']" id="reglog-ux1" > &nbsp;&nbsp;</a>
          </li>

          <li  *ngIf="!auth.estaAutenticado()">
            <a style="text-decoration:none;"  class="fas fa-sign-in-alt fa-2x" [routerLink]="['/Login']"  id="reglog-ux2">  &nbsp;&nbsp;</a>
          </li>

          <li  *ngIf="auth.estaAutenticado()">
            <a style="text-decoration:none;" class="fas fa-headset fa-2x" id="chat-ux" [routerLink]="['/Chat' ]">&nbsp;&nbsp;</a>
          </li>

          <li *ngIf="auth.estaAutenticado()">
            <a style="text-decoration:none;" *ngIf="!auth.esAdmin()" class="fas fa-cart-plus fa-2x" id="carrito" [routerLink]="['/carrito' ]">&nbsp;&nbsp;</a>
          </li>
          
          <li *ngIf="auth.estaAutenticado()">
            <a style="text-decoration:none;" *ngIf="!auth.esAdmin()" class="fas fa-list-ul fa-2x"  [routerLink]="['/listado']"  id="listado">  &nbsp;&nbsp;</a>
          </li>

          <li *ngIf="auth.estaAutenticado()">
            <a  style="text-decoration:none;" class="fas fa-sign-out-alt fa-2x" id="logout-ux" [routerLink]="['/Home']" (click)="Logout()">&nbsp;&nbsp;</a>
          </li>

          
        </ul>
      </div>
    </div>
  </nav>

  </html>

   <!-- style="margin-right: 20px;" -->