<div class="col-4 container">
    <h1>Nuevo Producto </h1>
    <hr>
  <form #newProductForm="ngForm" id="producto-agregar" (ngSubmit)="saveProduct(newProductForm.value)" autocomplete="off" novalidate style="padding-left: 0px;">
    <div class="form-group" >
        <label for="tipo">Tipo de Producto:</label>
         <em *ngIf="newProductForm.controls.menuIdMenu?.invalid && (newProductForm.controls.menuIdMenu?.touched)">Requerido</em>
    <select (ngModel)="menuIdMenu" name="menuIdMenu" required id="menuIdMenu" class="form-control"  placeholder="Seleccione">
        <option value="1">Pizzas</option> 
        <option value="2">Bebidas</option>
        <option value="3">Postres</option>
        <option value="4">Promociones</option>
      </select>
    </div> 

    <div class="form-group" >
      <label for="nombre">Nombre del Producto:</label>
      <em *ngIf="newProductForm.controls.nombre?.invalid && (newProductForm.controls.nombre?.touched)">Requerido</em>
      <input (ngModel)="nombre" name="nombre" required id="nombre" 
      type="text" class="form-control" placeholder="nombre del producto" />
    </div>
 
    <div class="form-group">
      <label for="precio">Precio:</label>
      <em *ngIf="newProductForm.controls.precio?.invalid && (newProductForm.controls.precio?.touched)">Requerido</em>
      <input (ngModel)="precio" name="precio" required id="precio" type="text" class="form-control" placeholder="Precio" />
    </div>

    <div class="form-group">
        <label for="descripcion">Descripcion:</label>
        <em *ngIf="newProductForm.controls.descripcion?.invalid && (newProductForm.controls.descripcion?.touched)">Requerido</em>
        <textarea (ngModel)="descripcion" rows="5" cols="30" name="descripcion" required id="descripcion" type="text" class="form-control" placeholder="Descripcion"> 
        </textarea>
      </div>
 
    <div class="form-group">
      <label for="imageUrl">Imagen:</label>
      <em *ngIf="newProductForm.controls.url?.invalid && newProductForm.controls.url?.touched && newProductForm.controls.url?.errors.required">Requerido</em>
      <input (ngModel)="url" name="url" required pattern=".*\/.*" id="url" type="text" class="form-control" placeholder="URL de la imagen" />
      <img [src]="newProductForm.controls.url?.value" *ngIf="newProductForm.controls.url?.valid" />
    </div>
 
    <button type="submit" [disabled]="newProductForm.invalid" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
 
  </form>

</div>