<div class="card container">
    <div class="card-header row">
      <label for="tipo">Selecione el tipo de producto:</label>
        <div class="col-sm-2">
           <select (click)="filtrar()" name="menuIdMenu" required id="menuIdMenu" class="form-control"  placeholder="Seleccione">
            <option selected disabled hidden style='display: none' value=''></option> 
            <option value="1">Pizzas</option> 
             <option value="2">Bebidas</option>
            <option value="3">Postres</option>
            <option value="4">Promociones</option>
      </select>
    </div>
    <button [routerLink]="['new']" type="button" class="btn btn-primary" style="margin-left: 600px;">Agregar</button>
    </div>  
    <div class="card-body">
      <div class="row">
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="lstProducts && lstProducts.length">
          <thead>
            <tr>
            <th>Imagen</th>  
             <th>Codigo</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of lstProducts">
              <td>
                <img *ngIf="product.url"
                     [src]="product.url"
                     [title]="product.nombre"
                     [style.width.px]="imageWidth"
                     [style.margin.px]="imageMargin">
              </td>
              <td>{{ product.idProducto}}-{{ product.menuIdMenu}}</td>
              <td>{{ product.nombre }}</td>
              <td>{{ product.descripcion }}</td>
              <td>{{ product.precio | currency:"L. ":"symbol" }}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm" style="margin-bottom: 10px;" [routerLink]="['edit/',product.idProducto]">
                  Editar
                </button>
              </td>
                <td>
                <button (click)="Eliminar(product.idProducto)" class="btn btn-outline-danger btn-sm">Eliminar</button>
              </td>
              <td>
                <button *ngIf="product.status==1" (click)="CambiarStatus(product,0)" class="btn btn-outline-warning btn-sm">Desactivar</button>
                <button *ngIf="product.status==0" (click)="CambiarStatus(product,1)" class="btn btn-outline-warning btn-sm">Activar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>