<footer class="page-footer font-small mdb-color pt-4 footer" id="footer-ux">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Enlace Development</h6>
          <p>Proyecto desarrollado por Enrique Cruz y Mauricio Siu , estudiantes de 
            Ingenieria en sistemas en UNITEC Honduras</p>
        </div>
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Knowledge</h6>
          <p>
            <a href="https://es.wikipedia.org/wiki/Proceso_para_el_desarrollo_de_software">Development</a>
          </p>
          <p>
            <a href="https://es.wikipedia.org/wiki/B%C3%A1dminton">Badminton</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Redes Sociales</h6>
          <p>
            <a href="facebook.com">Facebook</a>
          </p>
          <p>
            <a href="Twitter.com">Twitter</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> San Pedro Sula,Cortes</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> enrique.cs095@unitec.edu</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
  
      <hr>
  
      <!-- Grid row -->
      <div class="row d-flex align-items-center">
  
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
  
          <!--Copyright-->
          <p class="text-center text-md-left">© 2020 Copyright:
            <a href="https://Unitec.edu/">
              <strong> Unitec.edu</strong>
            </a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->